
  
  /* contactMe.css */

  .contact-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Adjust the desired height as needed */
    /* background-color: #266a9e; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh; /* Adjust the desired height as needed */
  }
  /* .menu {
    position: fixed;
  } */

  .about-me-content {
    padding: 20px;
    text-align: center;
    max-width: 600px; /* Adjust the maximum width as needed */
    background-color: #266a9e;
    text-align: justify; /* Justify the text alignment */
    text-align-last: left; /* Set the alignment of the last line to left (squared) */

  }

  .button-container {
    margin-top: 35px; /* Add spacing between the slide and the button */
    text-align: center; /* Center-align content */
    /* padding-top: 80px; */
    background-color: transparent;
  }

  .contact-form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  /* Style for the button link */
  .home-link-button {
    text-decoration: none; /* Remove underlines */
    color: #2678d6; /* Link color */
  }
  
  /* Style for the button image */
  .home-link-button img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center-align the image horizontally */
  }

  /* Picture */
  .Profile-pic {
    width: 200px; /* Set the width to 200px */
    height: 200px; /* Set the height to 200px */
    border-radius: 50%; /* Create a circular shape */
    /*overflow: hidden; /* Hide any overflowing content */
    margin-top: 25px; /* Add spacing between the slide and the button */
    text-align: center; /* Center-align content */
    /* padding-top: 25px; */
    background-color: transparent;
  }
  
  .selfie {
    width: 100%; /* Ensure the image takes up the entire container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any extra spacing below the image */
  }
  


 /* Style for each h1 within the title div */
h1, .contact-form{
    color: rgb(47, 119, 164);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adjust the shadow values as needed */
    font-size: 40px;
    margin: 5px 5px;
    padding: 5px;
  }

  .contact-me-content {
    text-align: center;
    /* font-size: medium; */
  }


  .square-button {
    width: 125px; /* Adjust the width to your preference */
    height: 50px; /* Make the height the same as the width for a square button */
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px; /* Adjust the border-radius for smooth edges */
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Add a smooth transition for the box shadow */
    margin-top: 30px;
    /* Cool box shadow effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .square-button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.5);
    /* Adjust the box shadow on hover for the cool effect */
  }
  
  label {
    margin: 10px;
    font-size: medium;
  }